@import '../../theme/variables.scss';

.card {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 100%;
        min-height: 320px;
        border-radius: .5rem;
        box-shadow: 0 1px 2px 0 rgba($black, 0.1);
        text-align: center;
        background-color: $grey;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-family: $titleFont;
        font-weight: 700;
        border-radius: 4px;
        padding: 3px 15px;
        width: fit-content;
        
    }

    &__id {
        font-family: $titleFont;
        font-weight: 400;
        border-radius: 4px;
        padding: 3px 15px;
        width: fit-content;
    }

    &__image {
        &-wrapper {
            display: flex;
            justify-content: center;
            padding: 2rem 0;
            >div {
                height: 10rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        align-self: center;
        margin: 0 0 1rem;
        width: 50%;
        max-width: 50%;
        filter: drop-shadow(0 0 20px rgba($black, .5));
        -webkit-filter: drop-shadow(0 0 20px rgba($black, .5));
    }
}