$red : #E94560;
$blue : #345a9c;
$navy : #0F3460;
$navy-2: #16213E;
$green : #14C38E;
$yellow : #f8ce01;
$orange : #dc3545;
$purple : #B3005E;
$grey : #6c757d;
$black : #343a40;
$white : #f8f9fa;
$pink : #FF5F9E;

$themes: (
    light: (
        backgroundColor: #f1f1f1,
        textColor: #333,
        primaryColor: #c21858,
        secondaryColor: #6c757d,
        lightColor: #f1f1f1,
        darkColor: #343a40,
        borderColor: $blue,
    ),
    dark: (
        backgroundColor: #1A1A2E,
        textColor: #eeeeee,
        primaryColor: #c21858,
        secondaryColor: #6c757d,
        lightColor: #f1f1f1,
        darkColor: #222324,
        borderColor: $yellow,
    )
);


@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge(
            $theme-map,
              (
                $key: $value,
              )
            ) !global;
          }
          @content;
          $theme-map: null !global;
        }
     }
  }
@function themed($key) {
    @return map-get($theme-map, $key);
}