@import "./theme/variables.scss";

@font-face {
    font-family: 'Pokemon Solid';
    src: url(./assets/fonts/PokemonSolid.ttf);
}


* {
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
}

@each $theme, $map in $themes {
    body:has(.theme-#{$theme}) {
        background-color : map-get($map, 'backgroundColor');
    }
}

a {
  text-decoration: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}